.page {
    position: relative;
    background-color: #FDFDFD;
  }
  
  .page-index {
    padding: 30px 0 30px;
  }
  
  .logo {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 0;
    text-align: center;
  }
  
  .img {
    width: 264px;
    height: 180px;
  }
  
  .page-title {
    margin-top: 24px;
    color: #474747;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .page-content {
    margin-top: 50px;
  }